In [53]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd
import pytz
import numpy as np

In [ ]:
def import_data():
    if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()
    # set time zone to UTC
    
    timezone = pytz.timezone("Etc/UTC")
    # create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
    utc_from = datetime(2020, 2, 1, tzinfo=timezone)
    utc_to = datetime(2021, 2, 1, tzinfo=timezone)
    # get bars from USDJPY M5 within the interval of 2020.01.10 00:00 - 2020.01.11 13:00 in UTC time zone
    rates = mt5.copy_rates_range("BITCOIN", mt5.TIMEFRAME_D1, utc_from, utc_to)

    
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(rates)
    # convert time in seconds into the 'datetime' format
    #rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
    
    rates_frame
    rates_frame.to_csv('BTC20_21.csv')
    
    return rates_frame

In [4]:
data=pd.read_csv('BTC19_20.csv')
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,1546387200,3776.40,3875.24,3746.32,3860.78,2241708,0,5130062
1,1,1546473600,3860.78,3891.23,3735.28,3770.96,7253573,0,6835392
2,2,1546560000,3770.96,3826.24,3706.38,3810.35,30337620,0,6835366
3,3,1546819200,4008.20,4046.24,3945.24,3981.47,3247554,0,6871753
4,4,1546905600,3981.47,4087.36,3926.25,3976.13,1649465,0,6835387
...,...,...,...,...,...,...,...,...,...
254,254,1577145600,7294.75,7412.25,7139.25,7180.25,340064,0,3765000
255,255,1577318400,7162.75,7419.25,7150.25,7173.75,278882,0,3240000
256,256,1577404800,7172.75,7240.75,7026.75,7204.50,322672,0,4308954
257,257,1577664000,7373.00,7412.00,7181.50,7231.75,279110,0,4308833
258,258,1577750400,7202.75,7289.00,7097.50,7128.75,190402,0,3765253

In [5]:
data['close']

0      3860.78
1      3770.96
2      3810.35
3      3981.47
4      3976.13
        ...
254    7180.25
255    7173.75
256    7204.50
257    7231.75
258    7128.75
Name: close, Length: 259, dtype: float64

In [65]:
df_ret=pd.DataFrame(index = range(1,29), columns = ['Dias','Ret_anual', 'Std_anual','Radio_Sharpe'])
rf=0.045
for i in range(28):
    # Rendimientos si compraramos y vendieramos despues de i+1 dias
    ret_vec=data['close'].pct_change(i+1).dropna()
    ret_anual= ret_vec.mean()*(252/(i+1))
    std_anual=ret_vec.std()*np.sqrt((252/(i+1)))
    rs=(ret_anual-rf)/std_anual
    df_ret.iloc[i]=[i+1, ret_anual, std_anual, rs]
    
df_ret

   Dias Ret_anual Std_anual Radio_Sharpe
1     1  0.851355  0.718573     1.122161
2     2  0.864791  0.714145     1.147933
3     3  0.868878  0.717319     1.148552
4     4  0.853471  0.707933     1.142016
5     5  0.851763  0.712202     1.132772
6     6  0.853696  0.715258     1.130635
7     7  0.873537  0.727742     1.138504
8     8  0.886581  0.736302     1.142983
9     9  0.894459  0.738574     1.150134
10   10  0.896798  0.742232     1.147617
11   11  0.906497  0.750961     1.147192
12   12  0.916788  0.753044     1.157685
13   13  0.929887  0.761951     1.161344
14   14  0.942943  0.767174     1.170455
15   15  0.952318  0.769784     1.178664
16   16  0.961442  0.772665      1.18608
17   17  0.966951  0.767453     1.201312
18   18  0.973844  0.767072     1.210896
19   19  0.977385   0.75961     1.227453
20   20  0.985687  0.759213      1.23903
21   21  0.995862  0.762183     1.247551
22   22  1.006128  0.760278      1.26418
23   23  1.014477  0.757283     1.280204
24   24  1.024223  0.756813     1.293878
25   25  1.031022  0.756834     1.302824
26   26  1.038917  0.758049     1.311152
27   27  1.049215  0.762177     1.317561
28   28  1.057333  0.765977     1.321623