In [14]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd
import pytz
import numpy as np
from ta.volatility import BollingerBands
from ta.momentum import StochasticOscillator
from ta.trend import MACD

In [ ]:
def import_data():
    if not mt5.initialize():
        print("initialize() failed, error code =",mt5.last_error())
    quit()
    # set time zone to UTC
    
    timezone = pytz.timezone("Etc/UTC")
    # create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
    utc_from = datetime(2020, 2, 1, tzinfo=timezone)
    utc_to = datetime(2021, 2, 1, tzinfo=timezone)
    # get bars from USDJPY M5 within the interval of 2020.01.10 00:00 - 2020.01.11 13:00 in UTC time zone
    rates = mt5.copy_rates_range("BITCOIN", mt5.TIMEFRAME_D1, utc_from, utc_to)

    
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(rates)
    # convert time in seconds into the 'datetime' format
    #rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
    
    rates_frame
    #rates_frame.to_csv('BTC20_21.csv')
    
    return rates_frame

In [15]:
#ENTRENAMIENTO
data_E=pd.read_csv('BTC19_20.csv')
data_E

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,1546387200,3776.40,3875.24,3746.32,3860.78,2241708,0,5130062
1,1,1546473600,3860.78,3891.23,3735.28,3770.96,7253573,0,6835392
2,2,1546560000,3770.96,3826.24,3706.38,3810.35,30337620,0,6835366
3,3,1546819200,4008.20,4046.24,3945.24,3981.47,3247554,0,6871753
4,4,1546905600,3981.47,4087.36,3926.25,3976.13,1649465,0,6835387
...,...,...,...,...,...,...,...,...,...
254,254,1577145600,7294.75,7412.25,7139.25,7180.25,340064,0,3765000
255,255,1577318400,7162.75,7419.25,7150.25,7173.75,278882,0,3240000
256,256,1577404800,7172.75,7240.75,7026.75,7204.50,322672,0,4308954
257,257,1577664000,7373.00,7412.00,7181.50,7231.75,279110,0,4308833
258,258,1577750400,7202.75,7289.00,7097.50,7128.75,190402,0,3765253

In [16]:
#PRUEBA
data_P=pd.read_csv('BTC20_21.csv')

In [17]:
# Boolinger
def tec1(data):
    df = data.copy()
    indicator_bb = BollingerBands(close=data.close, window=21)
    df['bb_bbm'] = indicator_bb.bollinger_mavg()
    df['bb_bbh'] = indicator_bb.bollinger_hband()
    df['bb_bbl'] = indicator_bb.bollinger_lband()
    df['bb_high_signal'] = indicator_bb.bollinger_hband_indicator()
    df['bb_low_signal'] = indicator_bb.bollinger_lband_indicator()
    return df

# RSI
def tec2(data):
    df = data.copy()
    indicator_stoc = StochasticOscillator(high=data['high'], low=data['low'], close=data['close'])
    df['stochastic'] = indicator_stoc.stoch()
    df['stochastic_buy_signal'] = indicator_stoc.stoch() < 20
    df['stochastic_sell_signal'] = indicator_stoc.stoch() > 80
    return df

In [18]:
data_ES = tec1(data_E)
data_ES.dropna()

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,bb_bbm,bb_bbh,bb_bbl,bb_high_signal,bb_low_signal
20,20,1548806400,3377.49,3435.44,3349.37,3408.75,4048838,0,6840090,3637.959048,4004.133975,3271.784120,0.0,0.0
21,21,1548892800,3408.75,3448.57,3372.38,3393.54,853227,0,6840127,3615.709524,3981.805279,3249.613769,0.0,0.0
22,22,1548979200,3393.54,3432.37,3350.26,3425.32,1652827,0,6835363,3599.250476,3967.022038,3231.478914,0.0,0.0
23,23,1549238400,3371.25,3411.60,3369.05,3393.46,2448519,0,6840262,3579.398571,3944.443706,3214.353436,0.0,0.0
24,24,1549324800,3393.46,3406.23,3375.81,3399.04,3250885,0,6840255,3551.663810,3876.601449,3226.726170,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,254,1577145600,7294.75,7412.25,7139.25,7180.25,340064,0,3765000,7235.271429,7688.730962,6781.811895,0.0,0.0
255,255,1577318400,7162.75,7419.25,7150.25,7173.75,278882,0,3240000,7239.290476,7688.985981,6789.594971,0.0,0.0
256,256,1577404800,7172.75,7240.75,7026.75,7204.50,322672,0,4308954,7224.019048,7655.242185,6792.795910,0.0,0.0
257,257,1577664000,7373.00,7412.00,7181.50,7231.75,279110,0,4308833,7209.305714,7616.728073,6801.883356,0.0,0.0
258,258,1577750400,7202.75,7289.00,7097.50,7128.75,190402,0,3765253,7182.850476,7531.350887,6834.350066,0.0,0.0

In [19]:
data_ES2 = tec2(data_E)
data_ES2=data_ES2.dropna()

In [20]:
def Average(lst):
    return sum(lst) / len(lst)

In [21]:
def grafica_data_ABC(dataframe, graph, title_g): 
    fig=px.line(dataframe, x='TimeStamp', y= graph, color="Exchange",title=(title_g))
    return fig.show()

In [63]:
def transactions(vol, pips, df):
    rett=[]
    
    while len(df)>2:
        precio_transaccion=df['close'].iloc[0]
        posicion=precio_transaccion*vol
        day0=df.iloc[0,0]

        closed=df[(df['close']>=(precio_transaccion+pips/100))|(df['close']<=(precio_transaccion-pips/100))]
        closed_price=closed.iloc[0,5]
        closed_transaction= closed_price*vol
        day1=closed.iloc[0,0]

        ret=246*(closed_transaction/posicion-1)/(day1-day0)

        rett.append(ret)

        df=df.loc[closed.iloc[0,0]:]
    
    return rett

In [60]:
vol=0.5 # volumen en bitcoin
pips=9000 # exposicion por operacion 100 usd
df = data_ES2[(data_ES2['stochastic_buy_signal']==True) | (data_ES2['stochastic_sell_signal']==True)] # df con las señales de compra y venta
transactions(vol, pips, df)

[-1.4703027877055015,
 2.10397821384152,
 0.39400277409900586,
 0.6795801800433627,
 24.74927206585117,
 -0.5697166764050448,
 2.946211955352939,
 4.203954588457898,
 0.6096923118458611,
 3.3736425872424114,
 4.989495870494304,
 8.504071697533842,
 61.80028338556395,
 -4.493974367149136,
 14.320135095638609,
 -1.618684618198521,
 -2.7058068491040688,
 4.3485230284638865,
 19.436288107484362,
 -1.4344323360321325,
 -4.555576687351342,
 7.270972323175853,
 -3.975517978309057,
 5.92351810771344,
 9.714489374905625,
 22.721584445968286,
 11.663534681397902,
 29.797978302313354,
 -4.349247116631223,
 2.4672604278214307,
 0.7710811719376253,
 -4.490008193251067,
 11.478195830988767,
 1.3770229177863043,
 -3.037253106030908,
 -3.6091799307492023,
 2.520134754407885,
 13.948782538308407,
 -1.5562600625154133,
 -29.976883442989326,
 -6.969144440352802,
 2.2083778431552386,
 -0.9125131174323661,
 -0.5527551626248527,
 -4.708483125643773,
 17.791965920245758,
 26.023448285544504,
 -1.6501089813650454,
 -5.648630572842366,
 -6.858569525330316,
 -3.3020275267200487,
 -7.828474697033597,
 -1.3672093617821506]

In [61]:
Average(transactions(vol, pips, df))

3.9716361910195137

In [ ]:
# Primera transaccion
while len(df)>2:
    precio_transaccion=df['close'].iloc[0]
    posicion=precio_transaccion*vol
    day0=df.iloc[0,0]

    closed=df[(df['close']>=(precio_transaccion+pips/100))|(df['close']<=(precio_transaccion-pips/100))]
    closed_price=closed.iloc[0,5]
    closed_transaction= closed_price*vol
    day1=closed.iloc[0,0]

    ret=246*(closed_transaction/posicion-1)/(day1-day0)

    rett.append(ret)

    df=df.loc[closed.iloc[0,0]:]

In [ ]:
Average(rett)

In [ ]:
df_ret=pd.DataFrame(index = range(1,29), columns = ['Dias','Ret_anual', 'Std_anual','Radio_Sharpe'])
rf=0.045
for i in range(28):
    # Rendimientos si compraramos y vendieramos despues de i+1 dias
    ret_vec=data['close'].pct_change(i+1).dropna()
    ret_anual= ret_vec.mean()*(252/(i+1))
    std_anual=ret_vec.std()*np.sqrt((252/(i+1)))
    rs=(ret_anual-rf)/std_anual
    df_ret.iloc[i]=[i+1, ret_anual, std_anual, rs]
    
df_ret